*{
  padding: 0;
  margin: 0;
}
.id{
  margin-top:-665px;
  margin-left: 670px;
  height: 660px;
  width: 685px;
  background-color: lightgrey;
}
body{
  background: url(pics/enfield_1.jpg);
  background-size: cover;
  border-width: 1px;
  border-color: white;
}
.form{
  height:400px;
  width: 300px;
  margin-left: 850px;
  margin-top: 90px;
  border-width: 3px;
  border-radius: 10px;
  border-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  color: white;

}
.email{
  font-size:20px;
  padding: 4px;
  margin: 4px;
  margin-left: 10px;
}
.upper{
  font-size:30px;
  margin-left: 90px;
}
.nm{
font-size: 20px;
margin: 4px;
padding: 4px;
padding-top: 4px;
margin-left: 10px;
}
 .no{
   font-size:20px;
   padding: 4px;
   margin: 4px;
   margin-left: 10px;
 }
 .give{
   margin-top: 40px;
   border: 2px;
   border-color: black;
   padding: 5px;
   font-size: 20px;
   border-radius: 3px;
   margin-left:20px;
   background: black'
   color:white;
 }
 .sign{
   margin-top: -10%;
   padding-right: 20px;
   border: 2px;
   border-color: black;
   padding: 5px;
   font-size: 20px;
   border-radius: 3px;
   margin-left:50px;

 }

 .company{
   color:	#ccccb3;
   font-size: 60px;
   margin-top: -500px;
   margin-left: 10px;
   font-style:normal;
   font-family:serif;
 }

 .build{
   color:#ccccb3;
   font-size: 60px;
   margin-top:0px;
   margin-left: 40px;
 }
 .sub{
   color:#ccccb3;
   font-size: 30px;
   margin-left: 80px;
 }
 .btn{

   border-radius: 2px;
   border: 1px solid white;
   padding: 10px 30px;
   margin:6px;
   color: white;
   text-decoration: none;
   transition: 0.6s ease;
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 )); 

 }

 .btn:hover{
   background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9 ));
   color: white;
 }
 .button{
     position: absolute;
     top: 80%;
     right: 14%;
     transform: translate(-50%,-50%);

 }
