  *{
  margin:0;
  padding: 0;
}

body{
    background-color: lightgray;
}
.logo img{
    float: left;
    max-width:13%;
    width: auto;
    outline: none !important;
    display: block;
    vertical-align: middle;
    border-style: none;
    padding: 16px;
}
nav{
   border-radius: 6px;
 width: 100%;
 height: 60px;
 background-color: black;
  }
  ul li{
      float: right;
 display: inline-block;
 line-height: 60px;
 position:relative;
 text-transform: none;
  }
 ul li a{
     text-decoration: none;
 font-size: 16px;
 font-family: arial;
 color:white;
 padding: 0 20px;
 display:block;
 border: 10px ;
 transition: 0.9s;
 margin-right: 15px;
 }

 ul li a:hover{
   background-color:red;
color: white;
}
ul li.active a{
    background-color: red;
    color: white;
}
.custom1{
  margin-top: 10%;
  margin-left: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background: url(pics/interceptor_edit.jpg);
  background-size: cover;
  height: 300px;
  width: 400px;
}
.custom1 .heading{
  font-size: 33px;
  text-decoration: none;
  text-align: center;
  font-family: serif;
}
.custom1 .div_1{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom1:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/interceptor_edit.jpg);
  
}

.custom2{
  margin-top: -22.5%;
  margin-left:480px;
  border: 1px solid black;
  border-radius: 5px;
  background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(pics/Continental.jpg);
  background-size: cover;
  height: 300px;
  width: 400px;
}
.custom2 .heading{
  font-size: 33px;
  color:white;
  text-align: center;
  font-family: serif;
}
.custom2 .div_2{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom2:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/Continental.jpg);
  color:white;

}

.custom3{
  margin-top: -22.5%;
  margin-left: 920px;
  border: 1px solid black;
  border-radius: 5px;
  background: url(pics/Himalayan.jpg);
  background-size: cover;
  height: 300px;
  width: 400px;
}
.custom3 .heading{
  font-size: 33px;
  color:white;
  text-align: center;
  font-family: serif;
}
.custom3 .div_3{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom3:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/Himalayan.jpg);

}

.custom4{
  margin-top: 7%;
  margin-left: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background: url(pics/Thunderbird_edit.jpg);
  background-size: cover;
  height: 300px;
  width: 400px;
}
.custom4 .heading{
  font-size: 33px;
  color:white;
  text-align: center;
  font-family: serif;
}
.custom4 .div_4{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom4:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/Thunderbird_edit.jpg);

}

.custom5{
  margin-top:-22.5%;
margin-left:480px;
border: 1px solid black;
border-radius: 5px;
background: url(pics/Classic_edit.jpg);
background-size: cover;
height: 300px;
width: 400px;
}
.custom5 .heading{
  font-size: 33px;
  color:white;
  text-align: center;
  font-family: serif;
}
.custom5 .div_5{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom5:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/Classic_edit.jpg);

}

.custom6{margin-top: -22.5%;
margin-left: 920px;
border: 1px solid black;
border-radius: 5px;
background: url(pics/bullet_edit.jpg);
background-size: cover;
height: 300px;
width: 400px;
}
.custom6 .heading{
  font-size: 33px;
  color:white;
  text-align: center;
  font-family: serif;
}
.custom6 .div_6{
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
  margin-top: 130px;
  height: 50px;
}
.custom6:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(pics/bullet_edit.jpg);

}
/*------footer-------*/
footer{
    text-align: center;
    background-color: black;
    position: relative;
    padding-top: 10px;
    height: 50px;
    margin-top: 400px;
    clear: both;
}
